*{
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

label{
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 2px solid #000000;
    border-radius: 0.25rem;
}

input{
    background-color: #fff;
    border-radius: 0.25rem;
    height: 38px;
}